.header{
    background-color: #b4ffc7;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-size: 1.4rem;
    padding: 20px;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}


.navegacao > ul{
    display: flex;
    gap: 20px;
}

.navegacao > ul > li{
    list-style: none;
}

.navegacao > ul > li > a{
    text-decoration: none;
    color: #424040
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img{
    width: 50px;
    height: 50px;
}